@charset "UTF-8";

/*
	Nome: Estilo da Home;
	Data: 23/01/2017;
	Descrição: Versão Inicial;
	Versão:0.1;
	Autor: Luan;
	Autor URI:;
*/

	*{
		margin: 0px;
		padding: 0px;
	}
	body{
		background-color: darkcyan !important;
	}
	.topo{
		width: 100%;
		height: 200px;
	}
	.backTop{
		background: transparent;
		border: none;
		cursor: pointer;
		color: rgba(0,0,0,0.5);
		position: fixed;
		right: 1%;
		bottom: 1%;
		display: none;
	}
	/*slide principal*/
	.topo .carousel-inner img{
		width: 100%;
		height: 200px;
	}
	.menu-principal.sticky{
		background: darkcyan;
	}
	.menu-principal{
		width: 100%;
		position: fixed;
		z-index: 99;
		display: table;
		background: rgba(0,0,0,0.1);
	}
	.menu-principal ul{
		list-style: none;
		font-size: 25px;
		width: 100%;
	}
	.menu-principal ul li{
		float: left;
		width: 25%;
		text-align: center;
		padding: 1% 0;
	}
	.menu-principal ul li a{
		color: white;
		text-decoration: none;
		font-family: 'Macondo', cursive;
	}
	.menu-principal ul li:hover{
		background: rgba(0,0,0,0.5);
		border: solid 0.5px white;
	}
	.menu-principal .dropdown a{
		width: 100%;
		background-color: initial !important;
		border: none !important;
		font-size: 25px;
	}
	.menu-principal .dropdown .btn{
		display: inline;
	}
	.menu-principal .dropdown.show a, .menu-principal .dropdown .btn.btn-secondary:focus{
		box-shadow: none !important;
	}
	.menu-principal .dropdown-menu.show{
		background: darkcyan;
	}
/*SOBRE*/
	.intro h1{
		font-family: 'Cookie', cursive;
		font-size: 40px;
	}
	.intro h3{
		font-family: 'Crete Round', serif;
		font-weight: normal;
		font-size: 20px;
	}
	/*EVENTOS*/
	.eventos h2, .eventos h4, .onibus h2, .onibus h3, .onibus h4, .links-uteis h2, .agenda .btn{
		font-family: 'Crete Round', serif;
	}
	.modal.fade.show {
		padding-right: unset !important;
	}
	.modal-dialog-centered {
		min-height: calc(100% - (.5rem * 2));
	}
	.modal-dialog{
		margin: .5rem;
	}
	.modal .modal-dialog {
		max-width: 90%;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	.agenda-mobile {
		display: none;
	}
	.agenda .btn {	
		background-color: darkcyan;
		color: #fff;
		text-transform: uppercase;
		white-space: unset;
	}
	.agenda .btn:hover, .agenda .btn:focus {
		background-color: #3d3d3d;
	    transform: translateY(-5px) scale(1.05);
	}

	/*Slide Eventos*/
	.eventos .carousel.slide{
		height: 185px;
	}
	.eventos .carousel-inner img{
		width: 90%;
		height: 180px;
	}
	.eventos .carousel-control-next, .eventos .carousel-control-prev{
		width: 5%;
		height: 180px;
	}
	.eventos .carousel-control-next-icon{
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
	}
	.eventos .carousel-control-prev-icon{
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
	}
	.eventos .carousel-indicators{
		margin-bottom: 0;
		bottom: 0;
	}
	.eventos .carousel-indicators li{
		background-color: black;
	}
	.eventos .carousel-indicators .active{
		background-color: darkcyan;
	}
	.eventos .share{
		width: 100%;
		float: left;
		margin-top: 5%;
		text-align: center;
	}
	.eventos .share a{
		text-decoration: none;
		color: black;
		padding-left: 2%;
	}
	.eventos .share a:hover{
		color: darkcyan;
	}
	.eventos .share .fa{
		color: darkcyan;
	}
/*turismo*/
	.container.rounded, .container-fluid.rounded{
		box-shadow: 5px 5px 5px #ccc;
	}
	.quadro ul li{
		display: block;
		font-size: 20px;
	}
	.quadro ul li a{
		text-decoration: none;
		color: black;
	}
	.quadro h3{
		font-family: 'Crete Round', serif;
		font-size: 18px;
	}
	.quadro .fa{
		padding-right: 2%;
	}
	/*serviços*/
	.onibus h3{
		font-size: 20px;
		font-weight: bold;
	}
	.onibus h4{
		font-size: 18px;
	}
	.links-uteis ul{
		list-style: none;
		font-family: 'Crete Round', serif;
	}
	.links-uteis ul li{
		font-size: 20px;
	}
	.links-uteis ul li a{
		text-decoration: none;
		color: black;
	}
	.links-uteis ul li a:hover{
		color: darkcyan;
		font-weight: bold;
	}
/*Localização*/
	.local-texto {
		align-self: center;
	}
	.localizacao h2{
		font-family: 'Crete Round', serif;
		font-size: 18px;
		font-weight: normal;
	}

	/*Footer*/
	.rodape{
		float: left;
		background: darkcyan;
		width: 100%;
		padding: 2% 0;
		text-align: left;
		padding-left: 5%;
		color: white;
		font-family: 'Macondo', cursive;
		font-size: 20px;
	}
	.rodape a{
		text-decoration: none;
		color: white;
	}
	.rodape a:hover{
		text-decoration: none;
		color: black;
		font-weight: bold;
	}
	.rodape .texto{
		width: 70%;
		float: left;
	}
	.rodape .social{
		width: 30%;
		float: left;
	}
	.rodape .social .fa{
		color: white;
	}

	/*Mobile*/	
	@media (min-width: 576px) {
		.topo, .topo .carousel-inner img, .eventos .carousel-inner img, .eventos .carousel-control-next, .eventos .carousel-control-prev{
			height: 250px;
		}
		.eventos .carousel.slide{
			height: 255px;
		}
	}
	 @media screen and (max-width: 640px) {
	  .agenda-desk{
	  display: none;
	  }
	  .agenda-mobile{
	  display: block;
	  }
	}
	@media (min-width: 768px) {
		.topo, .topo .carousel-inner img, .eventos .carousel-inner img, .eventos .carousel-control-next, .eventos .carousel-control-prev{
			height: 350px;
		}
		.eventos .carousel.slide{
			height: 355px;
		}
	}
	@media (min-width: 992px) {
		.eventos .carousel.slide{
			height: 405px;
		}
		.eventos .carousel-inner img, .eventos .carousel-control-next, .eventos .carousel-control-prev{
			height: 400px;
		}
	}

	@media (min-width: 1200px) {
		.topo, .topo .carousel-inner img{
			height: 450px;
		}
		.eventos .carousel.slide{
			height: 505px;
		}
		.eventos .carousel-inner img, .eventos .carousel-control-next, .eventos .carousel-control-prev{
			height: 500px;
		}		
	}

	/*ícones*/
	.fa-facebook-official{
		color: darkblue;
	}
	.fa-phone-square{
		color: lime;
	}
	.fa-envelope{
		color: silver;
	}